.app-container {
  padding: 1rem;
}

.computation-result {
  padding: 1rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #333;
  background: #f4f4f4;
  border-left: 4px solid orange;
  border-radius: 4px;
  display: inline-block;
}

.computation-result span {
  font-weight: bold;
}
